{% extends "base.html" %}

{% block content %}

<h1>Key Ideas</h1>
		<br>

		<div class="lesson">

			<h1>The Basics of the Web and HTML</h1>

			<div class="concept">		
				<h2>What a Webpage is</h2>
				<p>
					A document written in HTML that a browser receives from the server and displays to the user
				</P>
			</div>

			<div class="concept">		
				<h2>How Coding Works</h2>
				<p> 
					The programmer inputs text in a specific language and the computer follows the given instructions
				</p>
			</div>

			<div class="concept">		
				<h2>Computers are Stupid</h2>
				<p>
					Computers will execute exactly what has been inputted, mistakes and all
				</p>
			</div>

			<div class="concept">		
				<h2>Programmers Can't Remember Everything</h2>
				<p>
					There is too much to remember it all. When needed - Google, learn, apply
				</p>
			</div>

			<div class="concept">		
				<h2>Basic HTML Vocabulary</h2>
				<p>
					<b>Element:</b> everything from opening the tag to closing it<br>
					<b>Attribute:</b> property of a HTML element i.e. href refers to a link
					A short HTML 5 video can be seen 
					<a href="https://www.youtube.com/watch?v=uygsTHnJ50I">here</a>
				</p> 
			</div>
		</div>

		<br>

		<div class="lesson">

			<h1>Structuring a HTML Document</h1>

			<div class="concept">
				<h2>Avoid Repetition</h2>
				<p>
					To be a good programmer it is key to avoid repetition. This is done in CSS by applying style to groups of objects.
				</p>
			</div>

			<div class="concept">		
				<h2>...The Structure Metaphor</h2>
				<p>
					Using a house for the metaphor, HTML is the floor plan of a house. It is the structure.<br>
					CSS is the interior design - colours, style, the overall feel<br>
					Java Script is the interactive parts - TV remote, garage door remote etc.<br>
					DOM is the address of any specific house or (box) - a tree structure of country, state, suburb, street and finally house number is like the location of a section of a page.
				</p>
			</div>

			<div class="concept">		
				<h2> The Tree Structure </h2>
				<img src="http://i292.photobucket.com/albums/mm8/dexterous_data/Screen%20Shot%202015-02-12%20at%2010.58.40%20am_zps9iqkbw2j.png" alt="Tree Image Failed">
			</div>

			<div class="concept">		
				<h2> Grids, Boxes and Rules </h2>
				<p>	
					A webpage is broken into a grid which all elements are boxes and rectangles which are arranged in the grid.<br>
					Suggested to start with the largest boxes working down to the smallest. <br>					Label div's with a class name that describes what the div is - aids in code readability 
				</p>
		</div>

{% endblock %}