{% extends "base.html" %}

{% block content %}

<h1>Introduction to Programming</h1>
	<br>

	<div class="lesson">

		<div class="concept">	
			<h2>Overview</h2>
			<p>
				The Introduction to Programming Nanodegree was made up of five lessons or 'stages'. Each lesson introduced a new concept and tested us on this concept. Each stage finnished off with a final project to be submitted for review. 
			</P>
		</div>

				<div class="concept">	
			<h2>Lessons</h2>
			<p>
				Each lesson can be found in the top navigation bar 
			</P>
		</div>
	</div>


{% endblock %}